<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>908909003151-sa0ckdc2vrt3g002caihmga4a64212kq.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.908909003151-sa0ckdc2vrt3g002caihmga4a64212kq</string>
	<key>API_KEY</key>
	<string>AIzaSyAP34VYzbbSbOu57hjjxyCTHvjsJ2g9KWE</string>
	<key>GCM_SENDER_ID</key>
	<string>908909003151</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.kalianey.iChat</string>
	<key>PROJECT_ID</key>
	<string>ichat-289ea</string>
	<key>STORAGE_BUCKET</key>
	<string>ichat-289ea.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:908909003151:ios:620afe3a9dc05dd3</string>
	<key>DATABASE_URL</key>
	<string>https://ichat-289ea.firebaseio.com</string>
</dict>
</plist>